body{
    background-image:
    url('cat.png');
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:100%;
    position: relative;
    
    
    
}
p{
    text-align: center;
    vertical-align: text-bottom;
    margin: 0;
    padding: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%);

}